#output {
  --bs-bg-opacity: 0.5;
}

#history-items button > p {
  margin: 0 !important;
}

#previous-expression,
#current-expression {
  top: 0;
  right: 0;
  margin-left: auto;
  width: fit-content;
}
