/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

/* Other Components */
#output {
  --bs-bg-opacity: 0.5;
}

#history-items button > p {
  margin: 0 !important;
}

#previous-expression,
#current-expression {
  top: 0;
  right: 0;
  margin-left: auto;
  width: fit-content;
}
